<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net462" />
  <package id="Autofac.WebApi2" version="4.1.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.5" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.5" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.10" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net462" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net462" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.5" targetFramework="net462" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net462" />
  <package id="Xlent.Lever.Authentication.Sdk" version="4.2.0" targetFramework="net462" />
  <package id="Xlent.Lever.BusinessEvents.Sdk" version="3.0.5" targetFramework="net462" />
  <package id="Xlent.Lever.Configurations.Sdk" version="4.0.10" targetFramework="net462" />
  <package id="Xlent.Lever.KeyTranslator.Sdk" version="3.0.8" targetFramework="net462" />
  <package id="Xlent.Lever.Libraries2.Core.NetFramework" version="1.15.8" targetFramework="net462" />
  <package id="Xlent.Lever.Libraries2.WebApi" version="4.3.11" targetFramework="net462" />
  <package id="Xlent.Lever.Logger.Sdk" version="4.12.2" targetFramework="net462" />
</packages>