<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="RunTimeLevel" value="Test" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="Api.Url" value="https://fulcrum-bootcamp-api-group1.azurewebsites.net"  xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>
</configuration>